/* Paleta de Cores */
/* 00A7E1 -> Piction Blue */
/* 8963BA -> Amethyst */
/* 282C34 -> Gunmetal */
/* E562E5 -> Indian red */
/* F4F4ED -> Baby powder */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.Content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.OutletContainer {
  flex: 1;
  margin-top: 48.4px;
  background: #282c34;
  position: relative;
  transition: margin-top 0.3s;
}

.TitleBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.TitleBar.hideNav {
  visibility: hidden;
  display: none;
  border: 1px solid green;
}

.OutletContainer.fullContainer {
  display: flex;
  height: 100vh;
  flex-grow: 1;
  margin-top: 0px;
  background: #282c34;
}
