/* Paleta de Cores */
/* 00A7E1 -> Piction Blue */
/* 8963BA -> Amethyst */
/* 282C34 -> Gunmetal */
/* E562E5 -> Indian red */
/* F4F4ED -> Baby powder */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scrollbar-width: none;
}

.Content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  overflow: auto;
  background: #282c34;
}
