@use '@/styles/variables' as *;

.collectionWrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  min-width: 220px;
}

.collectionTitle {
  display: inline-flex;
  align-items: center;
  gap: $spacing-1;
  color: $snow;
}
