.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aa5042;
  color: #fcf7f8;
  padding: 0.8rem;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.rating:hover {
  background-color: rgba(137, 99, 186, 0.8);
}

.rating-list {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #282c34;
  border-radius: 0.4rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  width: 200px;
  z-index: 10;
}

.rating-item {
  padding: 0.5rem;
  border-bottom: 1px solid #444;
}

.rating-item:last-child {
  border-bottom: none;
}

.rating-option {
  background: transparent;
  color: #fcf7f8;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rating-option:hover {
  background-color: rgba(137, 99, 186, 0.1);
  color: #a878e5;
}

.rating .react-icons {
  margin-right: 0.5rem;
}

.rating-option:focus {
  outline: none;
  background-color: rgba(137, 99, 186, 0.2);
}

.rating-list {
  animation: dropdown 0.3s ease-in-out;
}
