@use '@/styles/variables' as *;

.rating {
  @include interactive-button;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $snow;
  background: $amethyst;
  padding: $spacing-2;
  border-radius: $radius-md;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: rgba(244, 244, 237, 0.12);
    color: rgba(137, 99, 186, 1);
  }
}

.rating-list {
  position: absolute;
  list-style: none;
  background: $gunmetal;
  border-radius: $radius-md;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: $spacing-2;
  z-index: 10;
  width: 200px;

  .rating-item {
    padding: $spacing-2;
    border-bottom: 1px solid #444;

    &:last-child {
      border-bottom: none;
    }

    .rating-option {
      background: transparent;
      color: $snow;
      border: none;
      width: 100%;
      text-align: left;
      font-size: 1rem;
      padding: $spacing-1;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(137, 99, 186, 0.1);
        color: $amethyst;
      }

      &:focus {
        outline: none;
        background-color: rgba(137, 99, 186, 0.2);
      }
    }
  }
}
