@use '@/styles/variables' as *;

.favorite {
  @include interactive-button;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-lg;
  color: $snow;
  gap: $spacing-2;
  padding: $spacing-2;
  background: $strong-indian-red;
  border-radius: $radius-sm;

  &:hover {
    background-color: rgba(244, 244, 237, 0.12);
    color: rgba(137, 99, 186, 1);
  }
}
