/* Paleta de Cores */
/* cd5c5c -> indian red */
/* 8963BA -> Amethyst */
/* 282C34 -> Gunmetal */
/* fcf7f8 -> Snow */
/* 31afd4 -> Pacific cyan */

.comicEditions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 20px;
  padding: 20px;
}

.comicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 350px;
  overflow: hidden;
  cursor: pointer;
}

.comicCover {
  width: 300px;
  max-height: auto;
  object-fit: cover;
  padding: 20px;
}

.editionName {
  font-size: 1rem;
  margin: 10px;
  max-width: 340px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fcf7f8;
}
