@use '@/styles/variables' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: #0000009d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  width: min(900px, 92vw);
  max-height: 90vh;
  width: 55vw;
  overflow: auto;
  background: $gunmetal;
  border-radius: $radius-lg;
  border: 1px solid $amethyst;
  padding: $spacing-5;

  &::-webkit-scrollbar {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: $spacing-4;

  .inputArea {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }

  label {
    display: flex;
    align-items: center;
    gap: $spacing-3;
    font-size: $font-lg;
    width: 100%;
    white-space: nowrap;

    input[type='text'] {
      @include interactive-button;
      padding: $spacing-1;
      border-radius: $radius-md;
      color: $snow;
      width: 100%;
      border: 1px solid $amethyst;

      &::placeholder {
        font-size: $font-base;
        color: #ccc;
      }
    }
  }

  .areaLabel {
    align-items: start;
    margin-top: 0;
    padding: 0;
    flex-flow: column nowrap;

    textarea {
      width: 100%;
      height: 180px;
      color: $snow;
      border-radius: $radius-md;
      padding: $spacing-3;
      border: 1px solid $amethyst;
      background: $gunmetal;
    }
  }

  .coverSection {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
    padding: $spacing-1;
    width: 100%;

    span {
      font-size: $font-lg;
    }

    .coverType {
      display: flex;
      align-items: baseline;
      gap: $spacing-3;
      width: 100%;

      input[type='radio'] {
        display: none;

        &:checked + label {
          background-color: $amethyst;
          color: $snow;
        }
      }

      label {
        font-size: $font-base;
        padding: $spacing-1;
        border: 2px solid $amethyst;
        border-radius: $radius-md;
        transition: all 0.3s ease;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }

    .seriesCoverOptions {
      display: flex;
      flex-flow: row wrap;
      gap: $spacing-3;
      padding: $spacing-3;
      max-height: 100px;
      overflow-y: auto;
      overflow-x: hidden;
      border: 1px solid $amethyst;
      border-radius: $radius-sm;

      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

      input[type='radio'] {
        display: none;

        &:checked + label {
          background-color: $amethyst;
          color: $snow;
        }
      }

      label {
        font-size: $font-base;
        padding: $spacing-1;
        border: 2px solid $amethyst;
        border-radius: $radius-md;
        transition: all 0.3s ease;
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-start;
    gap: $spacing-2;
    margin-top: $spacing-2;

    button {
      @include interactive-button;
      border-radius: $radius-sm;
      border: 1px solid $amethyst;
      color: $snow;
      padding: $spacing-2 $spacing-3;
    }
  }
}

.seriesSection {
  display: flex;
  gap: $spacing-3;
  flex-direction: column;
  overflow: hidden;
  max-height: 550px;
}

.seriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: $spacing-3;
  overflow-y: auto;
  padding-right: $spacing-1;
  &::-webkit-scrollbar {
    display: none;
  }
}

.serieCard {
  @include interactive-button;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $radius-md;
  background: rgba(255, 255, 255, 0.04);
  color: $snow;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-2;
  cursor: pointer;
  transition: transform 160ms ease;
  padding: $spacing-2;

  &:hover {
    background: $amethyst;
    outline: none;
  }

  img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: $radius-sm;
  }

  span {
    text-align: center;
    font-size: $font-sm;
    line-height: 1.25;
  }

  &.active {
    border-color: $amethyst; // cor do destaque
    background-color: $amethyst;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
