.dropdown-container {
  position: relative;
  display: inline-block;
}

.download {
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-radius 0.3s ease;
}

.download.open {
  border-radius: 10px 10px 10px 0px;
}

.download-icon {
  margin-right: 8px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  width: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.dropdown-item {
  margin: 0;
}

.dropdown-option {
  display: block;
  padding: 8px;
  width: 100%;
  text-align: left;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.dropdown-option:hover {
  background-color: #f1f1f1;
}
