@use '@/styles/variables' as *;

.downloadWrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  min-width: 180px;
}

.downloadTitle {
  display: inline-flex;
  align-items: center;
  gap: $spacing-1;
  color: $snow;
}

.downloadSelect {
  min-width: 180px;
}
