.favorite,
.download,
.collection,
.reading,
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #aa5042;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  padding: 10px;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.rating {
  height: 43px;
}

.download {
  background: #31afd4;
}

.collection {
  background: #aa5042;
}

.favorite:hover,
.download:hover,
.collection:hover,
.reading:hover,
.rating:hover {
  color: rgba(137, 99, 186, 1);
  background-color: rgba(244, 244, 237, 0.12);
}

.serieActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
