.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.modal {
  background-color: #aa5042;
  padding: 2rem;
  border-radius: 12px;
  width: 600px;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.text {
  margin-bottom: 1.5rem;
  color: #fcf7f8;
  font-size: 1rem;
  line-height: 1.5;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.button {
  background-color: #2a3439;
  color: white;
  padding: 0.8rem 1.4rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #7f4fb3;
}
