.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 260px;
  padding: 24px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sectionItem {
  width: 100%;
  background: transparent;
  border: none;
  padding: 12px 16px;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  color: #bbb;
  font-size: 14px;
  transition: all 0.2s ease;

  &:hover {
    background-color: rgba(155, 89, 182, 0.12);
  }
}

.active {
  background: linear-gradient(
    90deg,
    rgba(155, 89, 182, 0.4),
    rgba(155, 89, 182, 0.2)
  );
  color: #fff;
}

.content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  border-radius: 5px 0px 0px 0px;
  background-color: #424650;
}
