@use 'src/styles/variables' as *;

.mangaPage {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: $spacing-3;
  padding: $spacing-2;

  .imageContainer {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: $spacing-2;
    padding: $spacing-2;

    .mangaTags {
      display: flex;
      align-items: flex-start;
      gap: $spacing-3;
      padding: $spacing-2;
      flex-flow: column nowrap;

      div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
        gap: $spacing-2;
        max-height: 150px;
        max-width: 280px;
        overflow: hidden;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-2;
        padding: $spacing-2 $spacing-2;
        background: $indian-red;
        border-radius: $radius-md;
        color: $snow;
        cursor: pointer;
      }
    }

    .recomend,
    .owner {
      font-size: $font-lg;
      color: $snow;
    }

    .mangaCover {
      height: 40vh;
      max-width: 600px;
      border-radius: $radius-md;
    }
  }

  .mangaInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: $spacing-2;
    width: 680px;
    max-width: 100%;

    .serieTitle {
      max-width: 680px;
      overflow: hidden;

      h1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        color: $snow;
        font-size: $font-2xl;
      }
    }

    .mangaMetadata {
      display: flex;
      flex-direction: column;
      gap: $spacing-1;

      p {
        color: $snow;
        font-size: $font-2xl;
      }
    }

    .serieActions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $spacing-2;

      .favorite,
      .reading {
        @include interactive-buttons;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-lg;
        color: $snow;
        gap: $spacing-2;
        padding: $spacing-2;
        background: $strong-indian-red;
        border-radius: $radius-sm;

        &:hover {
          background-color: rgba(244, 244, 237, 0.12);
          color: rgba(137, 99, 186, 1);
        }
      }
    }
  }

  .collectionInfos {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    border: 1px solid $snow;
    border-radius: $radius-md;

    ul {
      width: 200px;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        width: 100%;
      }
    }

    span {
      color: $snow;
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .recCollection,
    .favCollection {
      padding: $spacing-2;
      border-top: 1px solid $snow;

      h3 {
        color: $snow;
        font-size: $font-lg;
      }

      ul {
        display: flex;
        gap: $spacing-2;
        flex-direction: column;
        margin-top: $spacing-1;

        li {
          font-size: $font-lg;
          font-weight: lighter;
          color: $indian-red;
        }
      }
    }

    .favCollection {
      border-top: none;
    }
  }
}
