.visualizer {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: black;
  width: 100vw;
}

.visualizer.on {
  background-color: black;
}

.visualizer.off {
  background: #282c34;
}

.chapterPage {
  width: auto;
  height: auto;
  object-fit: cover;
}
