@use '../../../../styles/variables' as *;

.formContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  width: 450px;
}

.subtitle {
  font-size: $font-lg;
  color: $indian-red;
}

/* ===== LISTA ===== */

.collectionList {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-2;
  width: 400px;
  height: 55px;
  padding: $spacing-2;
  border: 2px solid $amethyst;
  scrollbar-width: none;
  border-radius: $radius-md;
  overflow-x: auto;
}

/* ===== ITEM ===== */

.collectionItem {
  display: flex;
  align-items: center;

  max-width: 200px;
  padding: 8px 12px;
  border-radius: $radius-md;

  border: 2px solid $amethyst;
  color: $snow;
  cursor: pointer;

  transition: all 0.2s ease;

  input {
    display: none;
  }

  &:hover {
    background: rgba($amethyst, 0.1);
  }
}

.checked {
  background: $amethyst;
  color: $snow;
}

/* ===== TEXTO ===== */

.collectionText {
  flex: 1;
  min-width: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ===== ADD ===== */

.addCollection {
  display: flex;
  gap: $spacing-2;
  font-size: $font-lg;

  input[type='text'] {
    @include pattern-input;
    border: 1px solid $amethyst;
    font-size: $font-lg;
    flex: 1;
  }

  button {
    @include interactive-buttons;
    color: $snow;
    padding: $spacing-2;
    font-size: $font-lg;
    border-radius: $radius-md;
    background: $indian-red;
  }
}
