@use "../styles/variables" as *;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
