@use '@/styles/variables' as *;

.tagsInfo {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  width: 450px;
}

.formSubtitle {
  font-size: $font-lg;
  color: $indian-red;
}

.tagInput {
  input[type='text'] {
    @include pattern-input;
    min-width: 300px;
    font-size: $font-base;
    padding: $spacing-3;
    border: 2px solid $amethyst;
    color: $snow;
    border-radius: $radius-lg;

    &::placeholder {
      color: $indian-red;
    }
  }
}

.formTagPreview {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-2;
  width: 400px;
  height: 55px;
  padding: $spacing-2;
  border: 2px solid $amethyst;
  scrollbar-width: none;
  border-radius: $radius-md;
  overflow-x: auto;
}

.tagItemWrapper {
  list-style: none;
  flex-shrink: 0;
}

.tagItem {
  display: flex;
  align-items: center;
  gap: 8px;

  max-width: 200px;
  padding: 8px 10px;
  border-radius: 10px;
  background: $indian-red;
  color: $snow;

  flex-shrink: 0;
}

.tagIcon {
  flex-shrink: 0;
}

.tagText {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.removeTag {
  @include interactive-buttons;
  flex-shrink: 0;
  color: $snow;
}
