/* Paleta de Cores */
/* cd5c5c -> indian red */
/* 8963BA -> Amethyst */
/* 282C34 -> Gunmetal */
/* fcf7f8 -> Snow */
/* 31afd4 -> Pacific cyan */

.form-tag {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 20px;
}

.form-tag input {
  flex: 1;
  padding: 12px;
  font-size: 1.2rem;
  width: 280px;
  border: 1px solid #8963ba;
  background: #282c34;
  color: #cd5c5c;
  border-radius: 4px;
  font-size: 14px;
}

.form-tag-input,
.form-tag-preview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  background: #cd5c5c;
  border-radius: 5px;
  padding: 5px;
  gap: 10px;
}

.tag-list li {
  font-size: 1rem;
  color: #fcf7f8;
}

.form-tag button {
  padding: 12px;
  background-color: #cd5c5c;
  color: #fcf7f8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-tag button:hover {
  background-color: #0056b3;
}
