.cover-container.clear {
  display: none;
  visibility: hidden;
}

.image-upload {
  display: flex;
  border: 2px solid #8963ba;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 10px;
}

.cover-preview {
  height: 40vh;
  object-fit: cover;
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 440px;
  color: #cd5c5c;
}

.insert-image {
  font-size: 32px;
}

.file-input {
  display: none;
}
