.Control {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0.7rem;
}

.chaptersTitle {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}

.chaptersTitle h2 {
  font-size: 1.6rem;
  color: #8963ba;
  text-align: center;
}

.asc {
  font-size: 2rem;
}

.desc {
  font-size: 2rem;
}

.uploadBtn {
  font-size: 2rem;
}

.orderChapters,
.uploadNewChapters {
  cursor: pointer;
  color: #8963ba;
}

.chaptersList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.chapter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  background: #aa5042;
  cursor: pointer;
  width: 30vw;
  text-decoration: none;
  padding: 10px;
}

.chapter:hover {
  transition: 1s;
  background-color: #f4f4ed1f;
}

.chapterName {
  color: #fcf7f8;
  font-size: 1rem;
}

.filesInfo span:nth-child(2) {
  color: black;
}

.filesInfo {
  display: flex;
  flex-flow: column;

  gap: 15px;
}

.chapterExtraInfo {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.createDate {
  font-size: 0.8rem;
  color: #fcf7f8;
}

.dataInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  gap: 10px;
}

.read,
.unread,
.downloaded,
.notdownloaded {
  font-size: 1.5rem;
}

.OwnerDownload {
  font-size: 1rem;
  color: black;
}
