@use '@/styles/variables' as *;

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;

  .spinner {
    width: 30%;
    height: 8%;
    color: $amethyst;
    animation: spin 5s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
