/* Paleta de Cores */
/* cd5c5c -> indian red */
/* 8963BA -> Amethyst */
/* 282C34 -> Gunmetal */
/* fcf7f8 -> Snow */
/* 31afd4 -> Pacific cyan */

.visualizerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  order: 2;
}

.hideMenuBtn {
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  background: #282c34;
  transition: background-color 0.3s ease;
  color: #fcf4f8;
  padding: 0.5rem;
  z-index: 5;
  order: 1;
}

.hideMenuBtn:hover,
.jumpPrevBtn:hover,
.jumpNextBtn:hover,
.choseChapterBtn:hover {
  background: #0056b3;
}

.arrowClosed,
.arrowOpen {
  width: 20px;
  height: 20px;
}

.quicklyActions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  background: #282c34;
  max-width: 440px;
  padding: 1rem;
  gap: 20px;
  border-radius: 0px 5px 5px 0px;
}

.serieTitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 10px;
}

.serieTitle p {
  color: #fcf7f8;
  overflow: hidden;
  text-overflow: ellipsis;
}

.readerIcon {
  width: 30px;
  height: 30px;
  color: #8963ba;
}

.chapterControl {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.choseChapterBtn {
  transition: background-color 0.3s ease;
  color: #fcf7f8;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #8963ba;
  border-radius: 5px;
  padding: 0.3rem;
  max-height: 50px;
}

.jumpNextBtn,
.jumpPrevBtn,
.positiveZoomBtn,
.negativeZoomBtn {
  width: 40px;
  height: 50px;
  color: #fcf7f8;
  border-radius: 5px;
  background: #8963ba;
}

.zoomControl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.zoomControl label {
  color: #fcf7f8;
  font-size: 1rem;
  cursor: pointer;
}

.positiveZoom,
.negativeZoom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.zoomDivisor {
  width: 2px;
  height: 50px;
  border-radius: 5px;
  background-color: #cd5c5c;
}

.returnDivisor {
  width: 400px;
  border: 1px solid #cd5c5c;
}

.returnControl label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 1rem;
  gap: 20px;
  color: #fcf7f8;
}

.returnControl {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.returnPageBtn {
  width: 50px;
  height: 30px;
  background: #8963ba;
  border-radius: 5px;
}

.returnHomeBtn {
  width: 40px;
  height: 40px;
  background: #8963ba;
  border-radius: 5px;
}

.returnPageIcon,
.homeBtn {
  color: #fcf7f8;
}
