.visualizerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  z-index: 10;
  gap: 1rem;
  background: transparent;
  order: 2;
}

.visualizerMenu button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  z-index: 5;
  order: 1;
}

.visualizerMenu button:hover {
  background-color: #0056b3;
}

.quicklyActions {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 0;
  height: 200px;
  gap: 1rem;
}

.quicklyActions button {
  width: 50px;
  height: 50px;
}
