@use '@/styles/variables' as *;

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-2;
  text-align: center;

  > span {
    font-size: $font-2xl;
    color: $indian-red;
  }

  .imageContainer {
    width: 100%;
    width: 380px;
    aspect-ratio: 3 / 4;

    cursor: pointer;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    .coverPreview {
      height: 650px;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; // mostra a imagem inteira
      display: block;

      border-radius: $radius-md;
      border: 2px dashed $amethyst;
    }

    .placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $spacing-1;

      color: $amethyst;
      font-size: $font-sm;
      pointer-events: none;

      width: 500px;
      height: 500px;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; // mostra a imagem inteira

      border-radius: $radius-md;
      border: 2px dashed $amethyst;
    }
  }
}
