@use '@/styles/variables' as *;

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;

  .spinner {
    width: 30%;
    height: 8%;
    color: $amethyst;
    animation: spin 5s linear infinite;
  }
}

.visualizer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;

  .containerPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .chapterPage {
      width: auto;
      height: 100vh;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    .spinner {
      position: absolute;
      top: 5%;
      right: 5%;
      width: 5%;
      max-width: 30px;
      height: auto;
      aspect-ratio: 1 / 1;
      animation: spin 5s linear infinite;
      color: $amethyst;
      z-index: 10;
    }
  }

  .pageControlWrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    opacity: 0;
    z-index: 999;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
