@use '@/styles/variables' as *;

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-3;
  padding: $spacing-3;

  width: 300px;
  min-width: 300px;
  border-radius: $radius-lg;
}

.navButton {
  @include interactive-button;
  width: 150px;
  color: $snow;
  padding: $spacing-2;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
  list-style: none;
  padding: $spacing-3;
  height: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  display: none;
}

.item {
  @include interactive-button;
  padding: $spacing-2 $spacing-3;
  border: 1px solid #ffffff1f;
  border-radius: $radius-md;
  color: $snow;
  transition: all 0.2s ease;
}

.active {
  border-color: $weak-amethyst;
  background: #8963ba40;
  transform: scale(1.05);
}
