@use '../../styles/variables' as *;

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;

  .spinner {
    width: 30%;
    height: 8%;
    color: $amethyst;
    animation: spin 5s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sec-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  h1 {
    font-size: $font-2xl;
    color: $indian-red;
  }

  .form-subtitle {
    font-size: $font-lg;
    color: $indian-red;
  }

  .form-view {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: $spacing-6;
    padding: $spacing-6;

    .image-upload {
      display: flex;
      flex-flow: column nowrap;
      border-radius: $radius-md;
      gap: $spacing-2;
      text-align: center;

      span {
        font-size: $font-lg;
        color: $indian-red;
      }

      .image-container {
        aspect-ratio: 3 / 4;
        border-radius: $radius-md;
        border: 2px solid $amethyst;
        max-width: 500px;
        max-height: 500px;
        overflow: hidden;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        .cover-preview {
          object-fit: cover;
          display: block;
          width: 100%;
          height: 100%;
        }

        .alert {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          min-width: 500px;
          min-height: 500px;
        }

        .file-input {
          display: none;
        }
      }
    }

    .form-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: $spacing-2;

      .text-info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: column nowrap;
        gap: $spacing-3;
      }

      .literature-info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: column nowrap;
        width: 450px;

        .form-radio {
          display: flex;
          justify-content: space-evenly;
          gap: $spacing-2;
          margin-top: $spacing-4;

          input {
            display: none;

            &:checked + label {
              background-color: $amethyst;
              color: $snow;
            }
          }

          label {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $amethyst;
            border-radius: $radius-md;
            padding: $spacing-3;
            cursor: pointer;
            font-size: $font-lg;
            color: $indian-red;
            transition: all 0.3s ease;
            background-color: transparent;
          }
        }
      }

      .backup-info {
        display: flex;
        flex-flow: column nowrap;
        gap: $spacing-3;
        width: 450px;

        .backup-container {
          display: flex;
          gap: $spacing-3;

          input[type='radio'] {
            display: none;

            &:checked + label {
              background-color: $amethyst;
              color: $snow;
            }
          }

          label {
            font-size: $font-base;
            color: $indian-red;
            padding: $spacing-6;
            border: 2px solid $amethyst;
            border-radius: $radius-md;
            transition: all 0.3s ease;
            cursor: pointer;
          }
        }
      }

      .privacy-info {
        display: flex;
        flex-flow: column nowrap;
        gap: $spacing-3;
        width: 450px;

        .privacy-container {
          display: flex;
          gap: $spacing-3;

          input[type='radio'] {
            display: none;

            &:checked + label {
              background-color: $amethyst;
              color: $snow;
            }
          }

          label {
            font-size: $font-base;
            color: $indian-red;
            padding: $spacing-6;
            border: 2px solid $amethyst;
            border-radius: $radius-md;
            transition: all 0.3s ease;
            cursor: pointer;
          }
        }
      }

      .status-info {
        display: flex;
        flex-flow: column nowrap;
        gap: $spacing-3;
        width: 450px;

        .status-container {
          display: flex;
          gap: $spacing-3;

          input[type='radio'] {
            display: none;

            &:checked + label {
              background-color: $amethyst;
              color: $snow;
            }
          }

          label {
            font-size: $font-sm;
            color: $indian-red;
            padding: $spacing-6;
            border: 2px solid $amethyst;
            border-radius: $radius-md;
            transition: all 0.3s ease;
            cursor: pointer;
          }
        }
      }

      .tags-info {
        display: flex;
        flex-flow: column;
        gap: $spacing-3;
        width: 450px;

        input[type='text'] {
          @include pattern-input;
          min-width: 300px;
          font-size: $font-base;
          padding: $spacing-3;
          border: 2px solid $amethyst;
          color: $snow;
          border-radius: $radius-lg;

          &::placeholder {
            color: $indian-red;
          }
        }

        .form-tag-preview {
          display: flex;
          flex-flow: column nowrap;
          gap: $spacing-3;

          .tag-list {
            display: flex;
            flex-flow: row nowrap;
            border: 2px solid $amethyst;
            border-radius: $radius-md;
            padding: $spacing-2;
            overflow: auto;
            width: 400px;
            height: 100px;
            gap: $spacing-2;

            li {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: $font-base;
              color: $snow;
              padding: $spacing-0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              min-width: 0;

              span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-width: 125px;
                border-radius: 10px;
                padding: 10px;
                background: $indian-red;

                .remove-tag {
                  @include interactive-buttons;
                  color: $snow;
                }
              }
            }
          }
        }
      }

      .navigation-buttons {
        display: flex;
        justify-content: space-evenly;
        width: 300px;

        button {
          @include interactive-buttons;
          color: $indian-red;
          padding: $spacing-2;
          border-radius: $radius-md;
          border: 2px solid $amethyst;
        }
      }
    }
  }
}
