.div-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100vw;
}

.form-view {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.cover-title {
  font-size: 24px;
  color: #cd5c5c;
}

.form-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.series-title h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #cd5c5c;
}

.form-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form-subtitle {
  font-size: 1.3rem;
  color: #cd5c5c;
}

.form-radio {
  display: flex;
  gap: 10px;
}

.form-radio {
  display: flex;
  gap: 10px;
}

.FormBtnContainer {
  display: flex;
  gap: 20px;
}

.form-content button[type="submit"],
.form-content-buttons {
  background-color: #cd5c5c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.FormBtnContainer.dinamicCovers {
  display: flex;
  align-self: center;
  padding: 10px;
}
