/* Paleta de Cores */
/* cd5c5c -> indian red | aa5042 -> alternativa mais forte */
/* 8963BA -> Amethyst   | a878e5  -> alternativa mais clara*/
/* 282C34 -> Gunmetal */
/* fcf7f8 -> Snow */
/* 31afd4 -> Pacific cyan */

.serieHeader {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  flex-flow: row wrap;
}

.archivesInfo {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
}

.recomend,
.owner {
  font-size: 1rem;
  color: #fcf7f8;
}

.serieCover {
  height: 40vh;
  border-radius: 10px;
}

.mainContent {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 33vw;
  height: 50vh;
}

.mainContent h2 {
  color: #8963ba;
  font-size: 2rem;
}

.mainContent div p {
  font-size: 1.5rem;
  color: #fcf7f8;
}

.seriesInfo {
  display: flex;
  flex-flow: column;
  text-align: start;
  margin: 30px;
}

.favorites h3,
.recent h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #cd5c5c;
  padding: 10px;
  border: 1px solid #fcf7f8;
}

.recent h3 {
  border-top: none;
}

.fav-series,
.recent-series {
  display: flex;
  flex-flow: column;
  border: 1px solid #fcf7f8;
  border-top: none;
}

.fav-series li,
.recent-series li {
  font-size: 1.3rem;
  font-weight: lighter;
  padding: 10px;
  color: #fcf7f8;
}
