/* Paleta de Cores */
/* cd5c5c -> indian red */
/* 8963BA -> Amethyst */
/* 282C34 -> Gunmetal */
/* fcf7f8 -> Snow */
/* 31afd4 -> Pacific cyan */

.serieHeader {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  flex-flow: row wrap;
}

.serieHeader figure img {
  height: 40vh;
  border-radius: 10px;
}

.serieDetails {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 33vw;
  height: 50vh;
}

.serieDetails h2 {
  color: #8963ba;
  font-size: 1.8rem;
}

.serieDetails div p {
  font-size: 1.5rem;
  color: black;
}

.serieDetails div span {
  font-size: 1.3rem;
  color: #cd5c5c;
}

.testing {
  width: 600px;
}
