@use '@/styles/variables' as *;

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  -webkit-app-region: drag;

  .nav-bar {
    display: flex;
    width: 30%;
    cursor: pointer;
    -webkit-app-region: no-drag;

    li {
      display: flex;
      align-items: center;
      padding: $spacing-2;

      .link {
        display: flex;
        font-size: $font-2xl;
        color: $amethyst;

        .icon-home {
          width: 50px;
          height: 50px;
          padding: $spacing-2;
        }
      }

      &:hover {
        transition: 1s;
        background-color: $hover-shining;
      }
    }
  }
}

.bar-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing-2;
  min-width: 10%;
  -webkit-app-region: no-drag;

  .action-button {
    @include pattern-button;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover {
      transition: 1s;
      background-color: $hover-shining;
    }
  }
}
