.TitleBar {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  -webkit-app-region: drag;
  flex-grow: 1;
  background: #282c34;
}

.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  -webkit-app-region: drag;
  cursor: pointer;
}

.link {
  font-size: 1.5rem;
}

.tab {
  padding: 0.7rem;
  text-align: center;
  cursor: pointer;
  color: #8963ba;
  transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
  background-color: #f4f4ed1f;
}

.ActionsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 0.7rem;
  -webkit-app-region: no-drag;
  height: 3rem;
  width: 3rem;
}

.ActionsBtn:hover {
  transition: 1s;
  background-color: #f4f4ed1f;
}

.icon {
  color: #b07ff1;
  width: 2rem;
  height: 2rem;
}

.windowBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}
